* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    height: 300px;
    background-color: pink;
}

.leftBox {
    float: left;
    width: 100px;
    height: 100%;
    background-color: #61dafb;
}

.rightBox {
    float: left;
    width: 100px;
    height: 100%;
    background-color: #61dafb;
}

.middleBox {
    float: left;
    background-color: pink;
    width: calc(100% - 200px);
    height: 100%;
}